
#layer1 {
    width: 80%;
    margin-top: 80px;
    justify-content: flex-end;
    max-height: 40px;
    flex-direction: row;
    align-items: center;
}

#layer1Text,
#layer2Text_2 {
    color: #000000;
    opacity: 0.6;
    font-size: 120%;
}

#layer2 {
    width: 60%;
    margin-top: 20px;
}

#layer2Text_1 {
    color: #000000;
    font-size: 200%;
    font-weight: 600;
}

#layer2Text_2 {
    margin-top: 10px;
}